#container {
	-fx-background-color: white;
}

.list-view {
	-fx-padding: 10 0 0 0;
}

.list-cell:empty {
	-fx-opacity: 0;
}

.list-cell {
	-fx-background-color: -fx-control-inner-background;
	-fx-padding: 0.25em 0.25em 0.25em 0.5em;
}

.list-cell:selected {
	-fx-background-color: #A69B8F;
	-fx-text-fill: -fx-selection-bar-text;
}

.list-view {
	-fx-font-size: 120%;
	-fx-background-color: white;
}

#stockistListView .list-cell {
	-fx-padding: 8;
}

.stockist-name {
	-fx-font-weight: bold;
	-fx-padding: 0 0 8 0;
}

.stockist-address {
	-fx-padding: 0 0 8 0;
}